/* EX 1 */
.ex-1-square{
  transition: background-color 2s;
}

.ex-1-square:hover{
  background-color: red;
}
/* -------------------------------------------- */

/* EX 2 */
.ex-2-square{
  transition: width 2s;
}

.ex-2-square:active{
  width: 100%;
}
/* -------------------------------------------- */

/* EX 3 */
.ex-3-square{
  transition: border-radius 0.5s;
}

.ex-3-square:hover{
  border-radius: 50%;
}
/* -------------------------------------------- */

/* EX 4 */
.ex-4-square{
  transition: opacity 0.5s;
}

.ex-4-square:hover{
  opacity: 0;
}
/* -------------------------------------------- */

/* EX 5 */
.ex-5-square{
  transition: scale 0.5s;
}

.ex-5-square:hover{
  scale: 2;
}

.ex-5-square:active{
  scale: 0.5;
}
/* -------------------------------------------- */

/* EX 6 */
.ex-6-img:hover{
  filter: grayscale(100%);
}
/* -------------------------------------------- */

